<template data-controller-name="com.tolaram.app.pp.zppcartoncreat.controller.PrintForm">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <div data-sap-ui-type="sap.m.App">
        <div data-sap-ui-type="sap.m.Page" id="page">
            <div style="overflow-x:scroll;">
                <!--<span id="span">Print</span><i class="fa-sharp fa-solid fa-download" id="btn" title="Download" alt="Download"></i>-->
                <form id="form" class="sapUiLargeMarginBottom">

                </form>
            </div>
        </div>
    </div>
</template>